section {
	min-height: 100vh;
	/* border: 1px solid white; */

	padding-top: 6rem;
	/* border-top: 1px solid white; */
	/* border-radius: 0% 100% 0% 100% / 90% 9% 91% 10%; */
	/* border-radius: 0% 100% 0% 100% / 96% 3% 97% 4%; */

	align-items: center;

	justify-content: center;
}

section#home {
	padding-top: 0;
}
